.wrapper{
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.createBtn{
    padding: 15px !important;
}

.meWrapp{
    display: flex;
    flex-direction: column;
}

.iconBtn{
    position: absolute !important;
}

.icon{
    font-size: 18px;
}
